@font-face {
    font-family:  Love_Ya_Like_A_Sister;
    src: url('../Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.woff') format('truetype');
}

body {
    background-color: #fffbf4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1 {
    font-family: Love_Ya_Like_A_Sister;
    text-align: center;
}
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    background-color: #22223B;
    padding: 10px 25px;
    color: #fffbf4;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ColorsPalette CSS */

.color-palette {
    display: flex;
    flex-wrap: nowrap;
    /* gap: 20px; */
    flex-direction: row;
    width: 100vw;
}
.color-block {
    flex: 1;
    /* width: 20vw; */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    /* border-radius: 10px; */
    /* box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.2); */
  }
  
.color-code {
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}